.TableWrapper {
    width: 100%;
}

.Table {
    padding: 2rem;
    width: 100%;
}

.Table caption {
    font-size: 1.875rem;
    line-height: 4rem;
}

.TotalObjects {
    text-align: right;
    font-size: small;
    padding-right: 1rem;
    color: blueviolet;
}